{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Forms</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Forms</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Transfer Form</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">Transfer Form</div>
							</div>
							<div class="card-body">
								<form action='/createTransfer' method="post">
									<div class="row">
										<div class="col-md-6 col-lg-4">
											<div class="form-group">
												<label for="yearSelect">Year</label>
												<select class="form-control" id="yearSelect" name="year">
													<option>2021</option>
													<option>2022</option>
													<option>2023</option>
													<option>2024</option>
													<option>2025</option>
												</select>
											</div>
											<div class="form-group">
												<label for="toUserInput">From User</label>
												<div class="input-icon">
													<span class="input-icon-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control" id="fromUserInput" placeholder="Username" name="from_user">
												</div>
											</div>
											<div class="form-group">
												<label for="toUserInput">To User</label>
												<div class="input-icon">
													<span class="input-icon-addon">
														<i class="fa fa-user"></i>
													</span>
													<input type="text" class="form-control" id="fromUserInput" placeholder="Username" name="to_user">
												</div>
											</div>
											<div class="form-group">
												<label for="olefinMassInput">Olefin Mass (kg)</label>
												<input type="text" class="form-control form-control" id="olefinMassInput" placeholder="0" name="olefin_mass">
											</div>
										</div>
									</div>
									<div class="card-action">
										<button class="btn btn-success" type="submit">Submit</button>
										<button class="btn btn-danger">Cancel</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}	
